In [1]:
import sys 
sys.path.insert(0, "../")

In [2]:
from hr_data_generation import hr_gen, config
import yaml
import pandas as pd

employee_data_path = config.EMPLOYEE_DATA_PATH

with open(employee_data_path, "r") as f: 
    employee_data = yaml.load(f, Loader=yaml.SafeLoader)

In [3]:
employees = hr_gen.generate_employees(10, employee_data)

In [4]:
employees

{1: {'age': 64,
  'gender': 'male',
  'first_name': 'Gavin',
  'last_name': 'Simpson',
  'hiring_date': datetime.date(1996, 5, 13),
  'country': 'Philippines',
  'employment_type': 'Full time'},
 2: {'age': 44,
  'gender': 'male',
  'first_name': 'Raymond',
  'last_name': 'Mendoza',
  'hiring_date': datetime.date(2015, 7, 11),
  'country': 'Indonesia',
  'employment_type': 'Full time'},
 3: {'age': 48,
  'gender': 'female',
  'first_name': 'Imogen',
  'last_name': 'Torres',
  'hiring_date': datetime.date(2017, 10, 5),
  'country': 'Austrailia',
  'employment_type': 'Full time'},
 4: {'age': 43,
  'gender': 'female',
  'first_name': 'Yvonne',
  'last_name': 'Martinez',
  'hiring_date': datetime.date(2004, 6, 29),
  'country': 'Cambodia',
  'employment_type': 'Full time'},
 5: {'age': 24,
  'gender': 'female',
  'first_name': 'Catherine',
  'last_name': 'Guzman',
  'hiring_date': datetime.date(2024, 1, 28),
  'country': 'Thailand',
  'employment_type': 'Full time'},
 6: {'age': 61,
  'gender': 'male',
  'first_name': 'Felix',
  'last_name': 'Chavez',
  'hiring_date': datetime.date(2011, 9, 4),
  'country': 'Indonesia',
  'employment_type': 'Full time'},
 7: {'age': 57,
  'gender': 'female',
  'first_name': 'Zara',
  'last_name': 'Jordan',
  'hiring_date': datetime.date(2001, 1, 28),
  'country': 'Taiwan',
  'employment_type': 'Full time'},
 8: {'age': 53,
  'gender': 'male',
  'first_name': 'Eric',
  'last_name': 'Bell',
  'hiring_date': datetime.date(2025, 11, 29),
  'country': 'Indonesia',
  'employment_type': 'Full time'},
 9: {'age': 28,
  'gender': 'male',
  'first_name': 'Andrew',
  'last_name': 'Young',
  'hiring_date': datetime.date(2023, 6, 13),
  'country': 'Indonesia',
  'employment_type': 'Contract'},
 10: {'age': 55,
  'gender': 'male',
  'first_name': 'Asher',
  'last_name': 'Chavez',
  'hiring_date': datetime.date(1996, 3, 11),
  'country': 'India',
  'employment_type': 'Part time'}}

In [5]:
org_data = pd.read_csv(config.ORG_DATA_PATH)

In [6]:
org_data

,org_id,org_name,parent_org_id,cost_center,business_unit
0,ORG001,Global Corporation,NaN,CC1000,Corporate
1,ORG010,Corporate Functions,ORG001,CC1100,Corporate
2,ORG011,Finance,ORG010,CC1110,Corporate
3,ORG011A,Finance - FP&A,ORG011,CC1111,Corporate
4,ORG011B,Finance - Accounting,ORG011,CC1112,Corporate
5,ORG011C,Finance - Tax,ORG011,CC1113,Corporate
6,ORG012,Human Resources,ORG010,CC1120,Corporate
7,ORG012A,HR - Talent Acquisition,ORG012,CC1121,Corporate
8,ORG012B,HR - Learning & Development,ORG012,CC1122,Corporate
9,ORG012C,HR - Compensation & Benefits,ORG012,CC1123,Corporate
10,ORG013,Information Technology,ORG010,CC1130,Corporate
11,ORG013A,IT - Applications,ORG013,CC1131,Corporate
12,ORG013B,IT - Infrastructure,ORG013,CC1132,Corporate
13,ORG013C,IT - Security,ORG013,CC1133,Corporate
14,ORG020,Sales,ORG001,CC2000,Sales
15,ORG021,Sales - APJ,ORG020,CC2100,Sales
16,ORG021A,Sales - APJ Enterprise,ORG021,CC2110,Sales
17,ORG021B,Sales - APJ SMB,ORG021,CC2120,Sales
18,ORG022,Sales - EMEA,ORG020,CC2200,Sales
19,ORG022A,Sales - EMEA Enterprise,ORG022,CC2210,Sales
20,ORG022B,Sales - EMEA SMB,ORG022,CC2220,Sales
21,ORG023,Sales - AMER,ORG020,CC2300,Sales
22,ORG023A,Sales - AMER Enterprise,ORG023,CC2310,Sales
23,ORG023B,Sales - AMER SMB,ORG023,CC2320,Sales
24,ORG030,Engineering,ORG001,CC3000,Engineering
25,ORG031,Product Development,ORG030,CC3100,Engineering
26,ORG031A,Product Dev - Hardware,ORG031,CC3110,Engineering
27,ORG031B,Product Dev - Software,ORG031,CC3120,Engineering
28,ORG031C,Product Dev - Systems,ORG031,CC3130,Engineering
29,ORG032,Manufacturing Engineering,ORG030,CC3200,Engineering
30,ORG032A,Manufacturing Eng - Process,ORG032,CC3210,Engineering
31,ORG032B,Manufacturing Eng - Automation,ORG032,CC3220,Engineering
32,ORG033,Quality Engineering,ORG030,CC3300,Engineering
33,ORG033A,Quality - Supplier,ORG033,CC3310,Engineering
34,ORG033B,Quality - Customer,ORG033,CC3320,Engineering

In [7]:
employee_assignments = hr_gen.assign_employees_to_org(employees, org_data)

[np.float64(0.3049553886846778), np.float64(0.21036268620386683), np.float64(0.25042846644509237), np.float64(0.23425345866636302)]
[np.float64(0.02024783841205702), np.float64(0.979752161587943)]
[np.float64(0.18625549243610817), np.float64(0.19288042723701793), np.float64(0.1932173651813277), np.float64(0.42764671514554625)]
[np.float64(0.6738431378852884), np.float64(0.3261568621147115)]
[np.float64(0.054810348747498204), np.float64(0.14279921351589522), np.float64(0.6464779479839159), np.float64(0.15591248975269065)]
[np.float64(0.13729423520425174), np.float64(0.5444068661120431), np.float64(0.31829889868370503)]
[np.float64(0.8028949962237821), np.float64(0.19710500377621784)]
[np.float64(0.004009809354416055), np.float64(0.02457847405992957), np.float64(0.49158604896421737), np.float64(0.4798256676214369)]
[np.float64(1.0)]
[np.float64(0.35136215027801265), np.float64(0.1972147727082365), np.float64(0.45142307701375084)]

In [8]:
employee_assignments

[{'employee_id': 1,
  'org_id': np.str_('ORG031A'),
  'start_date': datetime.date(1996, 5, 13),
  'end_date': datetime.date(2005, 6, 1)},
 {'employee_id': 1,
  'org_id': np.str_('ORG012'),
  'start_date': datetime.date(2005, 6, 1),
  'end_date': datetime.date(2011, 8, 29)},
 {'employee_id': 1,
  'org_id': np.str_('ORG011B'),
  'start_date': datetime.date(2011, 8, 29),
  'end_date': datetime.date(2019, 2, 3)},
 {'employee_id': 1,
  'org_id': np.str_('ORG033'),
  'start_date': datetime.date(2019, 2, 3),
  'end_date': datetime.date(2026, 1, 17)},
 {'employee_id': 2,
  'org_id': np.str_('ORG022'),
  'start_date': datetime.date(2015, 7, 11),
  'end_date': datetime.date(2015, 9, 26)},
 {'employee_id': 2,
  'org_id': np.str_('ORG010'),
  'start_date': datetime.date(2015, 9, 26),
  'end_date': datetime.date(2026, 1, 18)},
 {'employee_id': 3,
  'org_id': np.str_('ORG032B'),
  'start_date': datetime.date(2017, 10, 5),
  'end_date': datetime.date(2019, 4, 21)},
 {'employee_id': 3,
  'org_id': np.str_('ORG023B'),
  'start_date': datetime.date(2019, 4, 21),
  'end_date': datetime.date(2020, 11, 25)},
 {'employee_id': 3,
  'org_id': np.str_('ORG032B'),
  'start_date': datetime.date(2020, 11, 25),
  'end_date': datetime.date(2022, 7, 3)},
 {'employee_id': 3,
  'org_id': np.str_('ORG031'),
  'start_date': datetime.date(2022, 7, 3),
  'end_date': datetime.date(2026, 1, 17)},
 {'employee_id': 4,
  'org_id': np.str_('ORG022A'),
  'start_date': datetime.date(2004, 6, 29),
  'end_date': datetime.date(2019, 1, 7)},
 {'employee_id': 4,
  'org_id': np.str_('ORG023A'),
  'start_date': datetime.date(2019, 1, 7),
  'end_date': datetime.date(2026, 1, 18)},
 {'employee_id': 5,
  'org_id': np.str_('ORG020'),
  'start_date': datetime.date(2024, 1, 28),
  'end_date': datetime.date(2024, 3, 7)},
 {'employee_id': 5,
  'org_id': np.str_('ORG023A'),
  'start_date': datetime.date(2024, 3, 7),
  'end_date': datetime.date(2024, 6, 18)},
 {'employee_id': 5,
  'org_id': np.str_('ORG021A'),
  'start_date': datetime.date(2024, 6, 18),
  'end_date': datetime.date(2025, 9, 27)},
 {'employee_id': 5,
  'org_id': np.str_('ORG021B'),
  'start_date': datetime.date(2025, 9, 27),
  'end_date': datetime.date(2026, 1, 17)},
 {'employee_id': 6,
  'org_id': np.str_('ORG021A'),
  'start_date': datetime.date(2011, 9, 4),
  'end_date': datetime.date(2013, 8, 24)},
 {'employee_id': 6,
  'org_id': np.str_('ORG023'),
  'start_date': datetime.date(2013, 8, 24),
  'end_date': datetime.date(2021, 6, 21)},
 {'employee_id': 6,
  'org_id': np.str_('ORG032B'),
  'start_date': datetime.date(2021, 6, 21),
  'end_date': datetime.date(2026, 1, 17)},
 {'employee_id': 7,
  'org_id': np.str_('ORG011B'),
  'start_date': datetime.date(2001, 1, 28),
  'end_date': datetime.date(2021, 2, 16)},
 {'employee_id': 7,
  'org_id': np.str_('ORG030'),
  'start_date': datetime.date(2021, 2, 16),
  'end_date': datetime.date(2026, 1, 18)},
 {'employee_id': 8,
  'org_id': np.str_('ORG012B'),
  'start_date': datetime.date(2025, 11, 29),
  'end_date': datetime.date(2025, 11, 29)},
 {'employee_id': 8,
  'org_id': np.str_('ORG031C'),
  'start_date': datetime.date(2025, 11, 29),
  'end_date': datetime.date(2025, 11, 30)},
 {'employee_id': 8,
  'org_id': np.str_('ORG012C'),
  'start_date': datetime.date(2025, 11, 30),
  'end_date': datetime.date(2025, 12, 25)},
 {'employee_id': 8,
  'org_id': np.str_('ORG022B'),
  'start_date': datetime.date(2025, 12, 25),
  'end_date': datetime.date(2026, 1, 18)},
 {'employee_id': 9,
  'org_id': np.str_('ORG011A'),
  'start_date': datetime.date(2023, 6, 13),
  'end_date': datetime.date(2026, 1, 19)},
 {'employee_id': 10,
  'org_id': np.str_('ORG032B'),
  'start_date': datetime.date(1996, 3, 11),
  'end_date': datetime.date(2006, 9, 6)},
 {'employee_id': 10,
  'org_id': np.str_('ORG033B'),
  'start_date': datetime.date(2006, 9, 6),
  'end_date': datetime.date(2012, 7, 26)},
 {'employee_id': 10,
  'org_id': np.str_('ORG011A'),
  'start_date': datetime.date(2012, 7, 26),
  'end_date': datetime.date(2026, 1, 17)}]

In [9]:
len(employee_assignments)

29